.title {
  font-size: 18px;
  color: blueviolet;
}
.item {
  margin: 10px;
  font-size: 12px;
  color: darkgray;
}
.synopsis {
  font-size: 13px;
  color: black;
  text-align: justify;
}

ul li {
  display: inline-block;
  max-width: 400px;
  vertical-align: top;
  padding: 25px;
}
