.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-search {
  padding: 25px;
  color: lightgray;
}

.App-search .search {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  min-width: 375px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.App-link {
  color: #61dafb;
}
